body {
    margin:0;
    font-size: 18px;
    font-family: "Impact";
    background-color: #131313;
  }

  
  
  body {
    display:flex; 
    min-height:100vh;
  }

  body > div {
    flex:1;
  }
  
  .game-intro {
    display:flex; 
    flex-direction:column;
    align-items:center;
  }

  ul {
    list-style: none;
    border: dashed white;
    align-self: flex-end;
    align-self: flex-end;
    margin-right: 40px;
    color: #57C4DE;
    font-size: 29px;
    padding: 15px 50px 15px 8px;
  }
  
  .logo-img {
    width: 200px;
    margin-top: 130px;
  }
  
  body button {
    font-size: 30px;
    font-weight: bold;
    font-family: Impact;
    background-color: transparent;
    color: #57C4DE;
    padding: 15px 50px;
    /* border:green solid; */
    background-color: #1A1010;
    border-radius: 50px;
    border-color: black;
  }

  body button:hover{
    border-color: black;
    background-color: rgb(41, 46, 46);
  }
  
  #game-board {
    padding-left: 20px 0px;
    position:relative;
  }

  #game-board canvas {
    position:absolute; 
    background-color: transparent;
    border: green solid;
    border-radius: 10px;
    /* background-image: url(./images/test1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:contain; */
  }
